*{
  box-sizing: border-box;
}
.menu{
  margin-bottom:15px;
  
}
h2{
  position:
  
}

p{
  background-color: grey;
  border: 1px solid black;
  font-family:Helvetica;
  color: yellow;
  width:
  height:
  margin-left:
  margin-right:
  
  
}
.row{
  
}

@media 
